@model List<GestionContactos.Api.Dtos.DatoUsuarioDto>

@{
    ViewData["Title"] = "Usuarios";
}

<h2 class="text-center">Lista de usuarios</h2>

<div class="d-flex justify-content-end mb-3">
    <a href="@Url.Action("Create", "DatoUsuario")" class="btn btn-success">➕ Crear Nuevo usuario</a>
</div>

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var datoUsuario in Model)
        {
            <tr>
                <td>@datoUsuario.Nombre</td>
                <td>@datoUsuario.Apellido</td>
                <td>@datoUsuario.Correo</td>
                <td>@datoUsuario.Telefono</td>
                <td>
                    <a href="@Url.Action("Details", "DatoUsuario", new { id = datoUsuario.Id })" class="btn btn-info btn-sm">🔍 Ver</a>
                    <a href="@Url.Action("Edit", "DatoUsuario", new { id = datoUsuario.Id })" class="btn btn-warning btn-sm">✏️ Editar</a>
                    <a href="javascript:void(0);" class="btn btn-danger btn-sm" onclick="openDeleteModal(@datoUsuario.Id)">🗑️ Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal para la Confirmación de Eliminación -->
<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este usuario?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDelete" onclick="submitDeleteForm()">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Alerta de eliminacion-->
<form id="deleteForm" method="post" style="display: none;">
    <input type="hidden" id="deleteId" name="id" />
</form>

<script type="text/javascript">
    function openDeleteModal(userId) {
        
        $('#deleteModal').modal('show');

        document.getElementById('deleteId').value = userId;
    }

    function submitDeleteForm() {
        document.getElementById('deleteForm').action = '@Url.Action("Delete", "DatoUsuario")/' + document.getElementById('deleteId').value;
        document.getElementById('deleteForm').submit();
    }
</script>

<link rel="stylesheet" href="~/css/estilos.css" asp-append-version="true" />
